
<div id="board">
	<div id="open" class="column">
		<p>
			OPEN (<a href=#>Add Task</a>)
		</p>
	</div>
	<div id="work" class="column">
		<p>WORK</p>
	</div>
	<div id="code_review" class="column">
		<p>CODE REVIEW</p>
	</div>
	<div id="test" class="column">
		<p>TEST</p>
	</div>
	<div id="deploy" class="column">
		<p>DEPLOY</p>
	</div>
	<div id="close" class="column">
		<p>CLOSE</p>
	</div>
</div>
<div id="add_task" class="box">
	<h1>New force</h1>
	<form name="loginForm" ng-submit="execute()">
		<p>
			<label for="typeInput">Type: </label> <select ng-model="type"
				id="typeInput">
				<option value="ANALYSIS">ANALYSIS</option>
				<option value="FEATURE">FEATURE</option>
				<option value="BUG">BUG</option>
			</select>
		</p>
		<p>
			<label for="descriptionInput">Description: </label>
			<textarea cols="30" rows="5" ng-model="description"
				id="descriptionInput">></textarea>
		</p>
		<button type="submit">Do or do not</button>
	</form>
</div>