<div id="login" class="box" ng-init="$ctrl.init()">
	<h1>Team force</h1>
	<form name="loginForm" ng-submit="$ctrl.login()">
		<p>
			<label for="nameInput">ID: </label> <input type="text"
				ng-model="$ctrl.username" id="nameInput"  maxlength="16">
		</p>
		<p>
			<label for="passwdInput">Password: </label> <input type="password"
				ng-model="$ctrl.password" id="passwdInput" maxlength="16">
		</p>
		<button type="submit">Welcome</button>
		<a href="#!/teamforce/newuser">New jedi? Click here</a>
	</form>
</div>