<!doctype html>
<html class="no-js" lang="en" ng-app="teamForceApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Sankhya - Team Force</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="./js/angular.js"></script>
<script src="./js/components.js"></script>
<script src="./js/teamforce.js"></script>
<link rel="stylesheet" href="./style/normalize.min.css">
<link rel="stylesheet" href="./style/main.css">
<link rel="shortcut icon" href="./images/favicon.ico"
	type="image/x-icon" />
</head>
<body>
	<header>
		<img class="logo" src="./images/logo.png" alt="Logo" title="Logo" />
	</header>
	<div class="wrapper">
		<div class="content">
			<div>

				<div id="board">
					<div id="open" class="column">
						<p>
							OPEN (<a href=#>Add Task</a>)
						</p>
						<div class="card">
							<p class="title"><label>BUG</label></p>
							<p>Super tarefa de campo</label></p>
							<p class="user"><a href="">Add User</a></p>
						</div>
					</div>
					<div id="work" class="column">
						<p>WORK</p>
					</div>
					<div id="code_review" class="column">
						<p>CODE REVIEW</p>
					</div>
					<div id="test" class="column">
						<p>TEST</p>
					</div>
					<div id="deploy" class="column">
						<p>DEPLOY</p>
					</div>
					<div id="close" class="column">
						<p>CLOSE</p>
					</div>
				</div>
				<div id="add_task" class="box" style="display: none;">
					<h1>New force</h1>
					<form name="taskForm" ng-submit="execute()">
						<p>
							<label for="typeInput">Type: </label> <select ng-model="type"
								id="typeInput">
								<option value="ANALYSIS">ANALYSIS</option>
								<option value="FEATURE">FEATURE</option>
								<option value="BUG">BUG</option>
							</select>
						</p>
						<p>
							<label for="descriptionInput">Description: </label>
							<textarea cols="30" rows="5" ng-model="description"
								id="descriptionInput">></textarea>
						</p>
						<button type="submit">Do or do not</button>
					</form>
				</div>
				<div id="task_user" class="box">
					<h1>In the force</h1>
					<form name="taskUserForm" ng-submit="execute()">
						<p>
							<label for="userInput">User: </label> <select ng-model="user"
								id="userInput">
								<option value="rt">Ricardo Takemura</option>
							</select>
						</p>
						<button type="submit">Join</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
