<!doctype html>
<html class="no-js" lang="en" ng-app="teamForceApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Sankhya - Team Force</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="./js/jquery.js"></script>
<script src="./js/angular.js"></script>
<script src="./js/angular-route.js"></script>
<script src="./js/utils.js"></script>
<script src="./js/controllers.js"></script>
<script src="./js/components.js"></script>
<script src="./js/teamforce.js"></script>
<link rel="stylesheet" href="./style/normalize.min.css">
<link rel="stylesheet" href="./style/main.css">
<link rel="shortcut icon" href="./images/favicon.ico"
	type="image/x-icon" />
</head>
<body ng-app>
	<header>
		<p id="logo">
			<a href="#"><img class="logo" src="./images/logo.png" alt="Logo"
				title="Logo" /></a>
		</p>
		<p id="user" ng-if="user.name != null">
			<img src="./images/user.png" width="56" height="56"></img> <label>{{user.name}}</label>
		</p>
	</header>
	<div class="wrapper">
		<div class="content" ng-view></div>
	</div>
	<footer class="message" ng-hide="hideMessage==true">
		<p>
			<label id="message">{{message}}</label>
			<button ng-click="hideMessage=true">X</button>
		</p>
	</footer>
</body>
</html>
